@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


h1 {

    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 65px;

}

.imgDescricao {

    max-width: 20%;
    margin-right: 50px;
    margin-left: 100px;

}

.sans {

    width: 50%;
    font-family: "Comic Neue", cursive;
    text-align: justify;
    margin-top: 50px;
    font-size: 40px;

}

.text {

    margin-top: 100px;
    font-size: 40px;

}

.dividir {

    display: flex;

}