@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.tituloSans {

    font-family: "Comic Neue", cursive;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 65px;

}

.imgSans {

    max-width: 20%;
    margin-right: 50px;
    margin-left: 100px;
    object-fit: contain;

}

.sans {

    font-family: "Comic Neue", cursive;
    max-width: 50%;
    text-align: justify;
    font-size: 36px;

}

.dividirSans {

    display: flex;

}