@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius&display=swap');

.papyrus {

    font-family: "Delius", cursive;
    width: 50%;
    text-align: justify;
    margin-top: 100px;
    font-size: 40px;

}

.imgDescricao {

    font-family: "Delius", cursive;
    max-width: 20%;
    margin-right: 50px;
    margin-left: 100px;

}

.dividir {

    display: flex;

}